:root {
  --color-uno: #598392;
  --color-dos: #124559;
  --color-tres: #01161E;
  --bg-color: #000;
  --text-color: #F0F0F0;
}

@font-face {
  font-family: 'baskerville';
  src: url('../webfont/baskervville-regular-webfont.woff2') format('woff2'),
       url('../webfont/baskervville-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: baskerville, sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}

.project {
  background: var(--color-tres);
  border: 1px solid var(--color-dos);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: center;
  transition: all 0.3s;
}

.project:hover {
  scale: 102%;
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project p {
  padding: 0 15px 20px;
  font-size: 1rem;
  color: var(--text-color);
  padding: 20px 5px;
}

footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: var(--text-color);
}

footer a {
  color: var(--color-uno);
  text-decoration: none;
  font-weight: bold;
}